.desriptionRus{
  font-size: large;
}
.divider{
  height: 0.4in;
}
.slds-button{
  font-size: large;
  padding: 2%;
}
.operationsDiv{
  display: flex;
  margin-top: 3%;
}
.buttonsDivider{
  width: 60%;
}